# Stop Lombok from searching for config files in parent directories.
config.stopBubbling = true

# Add @lombok.Generated to all generated code.
# This helps code coverage tools like JaCoCo ignore generated methods.
lombok.addLombokGeneratedAnnotation = true

# Add parameter names to contructors (for Spring.Jackson)
lombok.anyConstructor.addConstructorProperties= true

# Add @Qualifier to constructor parameters when using @RequiredArgsConstructor
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier

# Standardize the logger field name for annotations like @Slf4j.
lombok.log.fieldName = log

# Enable fluent setters (e.g., user.setName("...").setAge(...)) for cleaner code.
lombok.accessors.chain = true

# warn to remind to add callSuper=true
lombok.equalsandhashcode.callsuper = warn

#skip calling super for toString
lombok.toString.callSuper=skip